<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Desafio2</title>
</head>
<body>
  <h1 style="color:blue"> <%- titulo %> </h1>
  <span><%= min%></span>
  <meter 
    value="<%= nivel%>"
    min="<%= min%>"
    max="<%= max%>"
    >Medidor</meter>
  <span><%= max%></span>
</body>
</html>