<div>
    <h1>Datos Personales</h1>
    <ul>
        <li>Nombre: {{nombre}}</li>
        <li>Apellido: {{apellido}}</li>
        <li>Edad: {{edad}}</li>
        <li>Telefono {{telefono}}</li>
        <li>Email {{email}}</li>
    </ul>
</div>